.home-page .footer {
  footer {
    margin: 4rem 0;
    text-align: center;

    .name {
      font-size: 35px;
      margin-bottom: .7rem;
      font-family: var(--rock-salt);
    }

    .copyright-text {
        font-size: 17px;
    }
  }
}
